html {
  scroll-padding-top: $spacer * 3;
}

h1, h2, h3, h4, h5, h6, .NavigationBar {
  font-family: 'Jura', sans-serif;
}

ul li:not(:nth-last-child(1)) {
  padding-bottom: $spacer;
}

ol li:not(:nth-last-child(1)) {
  padding-bottom: $spacer;
}

::-webkit-scrollbar {
  width: 8px;
}

::webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .6);
  border-radius: 4px;
}

.sponsors-container {
  aspect-ratio: 16 / 10;
}

.sponsors-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
  transition: all .2s ease 0s;
  filter: grayscale(1) invert(1);
  border: 1px solid #b6b6b6;
  border-radius: 0.3rem;
}

.sponsors-link:is(:hover, :active) {
  filter: none;
}

.sponsors-image {
  max-width: 75%;
  max-height: 50%;
  transition: all .2s ease 0s;
}

.carousel-item img {
  max-height: 100vh;
}

.trailerIframe {
  max-width: 800px;
  max-height: 450px;
  aspect-ratio: 16 / 9;
}
