@import "bootstrap/scss/functions";


$primary:       #141414;
$secondary:     #780D0D ;
$success:       green ;
$info:          cyan ;
$warning:       yellow ;
$danger:        red ;
$light:         #f1f1f1 ;
$dark:          #141414 ;
$body-bg:         $dark;
$body-color:      $light;

@import "bootstrap/scss/variables";

$custom-colors: (
  "accent-1": #cd4646,
  "accent-2": #F6C5C5,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/bootstrap";